<div class="container">
  <div class="col-md-12 row mt-4 mb-4">
    <div class="col-md-12">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <div class="d-flex">
            <div *ngFor="let wherefilter of whereFilters" class="d-flex">
              <div class="columnname">
                {{ wherefilter.columnname }}
              </div>
              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="removeFilter(wherefilter.columnname)"
              >
                <span class="fa fa-close"></span>
                {{ wherefilter.values.join(",") }}
              </button>
            </div>
          </div>
          <input
            *ngIf="!isNeedToRenderSelectColumn && !isNeedToRenderSelectData"
            type="text"
            class="form-control"
            id="inputValidation"
            placeholder="Search"
            (focus)="onSearchBoxFocus()"
          />
          <div *ngIf="isNeedToRenderSelectColumn" class="dropdown">
            <ng-select
              #ngSelectColumn
              [items]="columnsDataSource"
              [multiple]="false"
              bindLabel="name"
              [closeOnSelect]="true"
              bindValue="id"
              placeholder="Select Column"
              (change)="onColumnSelect($event)"
              (close)="oncloseColumn($event)"
            >
            </ng-select>
          </div>
          <div *ngIf="isNeedToRenderSelectData" class="dropdown">
            <ng-select
              #ngSelectData
              [items]="dataSource"
              [multiple]="true"
              bindLabel="name"
              [closeOnSelect]="false"
              bindValue="id"
              [placeholder]="placeholder"
              (close)="oncloseData($event)"
            >
              <ng-template
                ng-option-tmp
                let-item="item"
                let-item$="item$"
                let-index="index"
              >
                <input
                  id="item-{{ index }}"
                  type="checkbox"
                  [ngModel]="item$.selected"
                />
                {{ item.name }}
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="whereFilters.length > 0" class="col-md-12 text-right">
      <a href="javascript:void()" (click)="clearFilter()">Clear All Filters</a>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Company</th>
        <th>Email</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <td>
          {{ person.firstname }}
        </td>
        <td>
          {{ person.lastname }}
        </td>
        <td>
          {{ person.company }}
        </td>
        <td>
          {{ person.email }}
        </td>
        <td>
          {{ person.city }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
