<div class="container">
  <div class="col-md-12 row mt-4 mb-4">
    <div class="col-md-12">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <div class="d-flex">
            <div *ngFor="let wherefilter of whereFilters" class="d-flex">
              <div class="columnname">
                {{ wherefilter.columnname }}
              </div>
              <div class="value">
                {{ wherefilter.values.join(",") }}
              </div>
            </div>
          </div>
          <input
            *ngIf="!isNeedToRenderSelectColumn && !isNeedToRenderSelectData"
            type="text"
            class="form-control"
            id="inputValidation"
            placeholder="Search"
            (focus)="onSearchBoxFocus()"
          />
          <div *ngIf="isNeedToRenderSelectColumn" class="dropdown">
            <ng-select
              #ngSelectColumn
              [items]="columnsDataSource"
              [multiple]="false"
              bindLabel="name"
              [closeOnSelect]="true"
              bindValue="id"
              (change)="onColumnSelect($event)"
              (close)="oncloseColumn($event)"
            >
            </ng-select>
            <!-- <ng-multiselect-dropdown
              #ddlColumn
              name="column"
              [placeholder]="'Select column'"
              [data]="columnsDataSource"
              [settings]="dropdownSettingsColumn"
              (onSelect)="onColumnSelect($event)"
            >
            </ng-multiselect-dropdown> -->
          </div>
          <div *ngIf="isNeedToRenderSelectData" class="dropdown">
            <ng-select
              #ngSelectData
              [items]="dataSource"
              [multiple]="true"
              bindLabel="name"
              [closeOnSelect]="false"
              bindValue="id"
              (close)="oncloseData($event)"
            >
              <ng-template
                ng-option-tmp
                let-item="item"
                let-item$="item$"
                let-index="index"
              >
                <input
                  id="item-{{ index }}"
                  type="checkbox"
                  [ngModel]="item$.selected"
                />
                {{ item.name }}
              </ng-template>
            </ng-select>
            <!-- <ng-multiselect-dropdown
              #ddlColumnData
              name="dataSource"
              [placeholder]="'Select'"
              [data]="columndata"
              [settings]="dropdownSettingsColumnData"
              (onSelect)="onSelectDataFilter($event)"
            >
            </ng-multiselect-dropdown> -->
          </div>
          <!-- <input
            type="text"
            class="form-control"
            placeholder="Search"
            id="inputGroup"
            (focus)="onSearchBoxFocus()"
          /> -->
        </div>
      </div>
    </div>
    <div *ngIf="whereFilters.length > 0" class="col-md-12 text-right">
      <a href="javascript:void()" (click)="clearFilter()">Clear Filter</a>
    </div>
  </div>

  <!-- <select id="columns">
    <option
      *ngFor="let column of columns; let i = index"
      [value]="columns[i].id"
    >
      {{ columns[i].name }}
    </option>
  </select> -->
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Company</th>
        <th>Email</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <td>
          {{ person.firstname }}
        </td>
        <td>
          {{ person.lastname }}
        </td>
        <td>
          {{ person.company }}
        </td>
        <td>
          {{ person.email }}
        </td>
        <td>
          {{ person.city }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
